<h2>Operation</h2>

<div class="row">

<table class="table_minima" *ngIf="client">
    <tr>
        <th>Account name :</th>
        <td>{{client.nom}}</td> 
    </tr>
    <tr>
        <th>Amount :</th>
        <td>{{client.compte.solde}}€</td>
    </tr>
    <tr>
        <th>authorized overdraft :</th>
        <td> {{client.compte.decouvert}} €</td>
    </tr>
</table>

<br>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <form>
        <div class="form-group">
          <label for="nom">Amount :</label>
          <input type="number" class="form-control" id="nom" placeholder="Amount"  step="10" min="10" [(ngModel)]="operation.montant" name="inscMontant">
        </div>

        <button type="submit" class="btn btn btn-default" (click)="toDoDeposit()">Deposit</button>
        <button type="submit" class="btn btn btn-default" (click)="toDoWithdrawal()">Withdrawal</button>
        

        <div class="bg-success">{{validation}}</div>
        <div class="bg-danger">{{errors}}</div>
      </form>
    </div>
  </div>